
*{
    margin: 0%;
    padding: 0%;
}

a:link {color: white; text-decoration: none;}
a:visited {color: white; text-decoration: none;}
a:hover {color: white; text-decoration: underline;}
a:active {color: white; text-decoration: none;}

html{
    background-image: url(../img/Background_Computer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.Banner{
    width: 100%;
    position: fixed;
    top: 0px;
    background-image: linear-gradient(to right top, #0f4596, #005da7, #0073b4, #0089be, #189fc6);    
    height: max-content;
    text-align: center;
    border-bottom: solid 5px black;
}

.Banner h1, .Banner h4{
    margin: 0.7%;
}

h1{font-size: xx-large;}

h2{font-size: x-large;}

/* CSS for phones*/

@media (max-width: 1284px){

    html{
        background-image: url(../img/Background_Phone.png);
    }

    h1{color: red;}
}