
*{
    margin: 0%;
    padding: 0%;
}

/* Add custom font */
@font-face {
	font-family: "sao_font";
    src: url("../font/SAOWelcome-Regular.otf");
}

a:link {color: white; text-decoration: none;}
a:visited {color: white; text-decoration: none;}
a:hover {color: white; text-decoration: underline;}
a:active {color: white; text-decoration: none;}

html{
    font-family: "sao_font";
    background-image: url(../img/Background_Computer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Banner{
    width: 100%;
    position: absolute;
    top: 0px;
    background-image: linear-gradient(to right top, #0f4596, #005da7, #0073b4, #0089be, #189fc6);    
    height: max-content;
    text-align: center;
    border-bottom: solid 5px black;
}

.Banner h1, .Banner h4{
    margin: 0.7%;
}

h1{font-size: xx-large;}

h2{font-size: x-large;}

.content{
    position: relative;
    width: 80%;
    margin: 8% auto;
    border: solid black 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.footer{
    width: 100%;
    bottom: 0px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 0.5% 0%;
}





/* CSS for phones*/

@media (max-width: 1284px){

    html{
        background-image: url(../img/Background_Phone.png);
    }

    h1{
        font-size: 30px;
    }

    h2{font-size: x-large;}
}